nav dt{width:20%;float:left;
    
}
#profile{
	margin-top: 30px;
	margin-left: 60px;
	margin-right: 10px;
	float: left;
	
}

table.plofile{
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
} 
 
table.plofile > p{
  margin-left: 10px;
}
 

#p-photo{
	padding-left: 50px;
} 

@media ( min-width: 768px ) {
  #banner {
    min-height: 300px;
    border-bottom: none;
  }
  .bs-docs-section {
    margin-top: 8em;
  }
  .bs-component {
    position: relative;
  }
  .bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
  .bs-component .modal-dialog {
    width: 90%;
  }
  .bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
  .nav-tabs {
    margin-bottom: 15px;
  }
  .progress {
    margin-bottom: 10px;
  }

.movie {
  margin-top: 20px;
}

ul{
  font-size: 25px;
}

.questions{
  margin-left:20px;
}

.tmenu{
  color: orange;
}

.left{
  float:left;
}

.right{
  float:left;
}